[run]
branch = True
source = qplotutils

[report]
exclude_lines =
    if CONFIG.debug:
    if CONFIG.debug_layout:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    qplotutils/ui/*
    qplotutils/flow/*